<!DOCTYPE HTML>
<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<META HTTP-EQUIV="refresh" CONTENT="60">
<head>
    <title>Manage Jobs</title>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<div id="nav">
    <nav class="emp-nav" style="background-color: #f4511e;">
        <div class="navbar" id="insidenav">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: white;">Job Portal</a>
            </div>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 20px;">
                <li class="dropdown">
                </li>
                <li><a href="/login" style="color: white;" onmouseover="this.style.color='black'"
                            onmouseleave="this.style.color='white'">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<body>
    <h3 style="color: seagreen; margin-top: 50px; " class="text-center">Manage Your Posted Jobs</h3>
    <div class="container" id="viewmain">
        <div class="page-header" style="background: #f4511e"></div>
        <div class="table-responsive">
            <% if(jobapps.length> 0) { %>
                <h1>
                    <%= jobapps[0].jobtitle %>
                </h1>
                <table class="table table-responsive table-striped">
                    <tr>
                        <th>Applicant</th>
                        <th>Skills</th>
                        <th>Experience</th>
                        <th>UG Qualification</th>
                        <th>PG Qualification</th>
                        <th>View Profile</th>
                        <th>Status</th>
                        <th>Accept</th>
                        <th>Reject</th>
                    </tr>
                    <% for(let i=0; i < jobapps.length; i++) { %>
                        <tr>
                            <td>
                                <%=userarr[i].name%>
                            </td>
                            <td>
                                <%=userarr[i].skills%>
                            </td>
                            <td>
                                <%=userarr[i].experience%>
                            </td>
                            <td>
                                <%=userarr[i].basic%>
                            </td>
                            <td>
                                <%=userarr[i].master%>
                            </td>
                            <td><a href="/profile_user/<%=jobapps[i].userid%>">View Profile</a></td>
                            <td><%= jobapps[i].status %> </td>
                            <td>
                                <form id="form_accept" method="post" action="/accept_job">
                                    <input type="hidden" name="jobappid" value="<%= jobapps[i]._id %>">
                                    <input type="hidden" name="companyid" value="<%= jobapps[0].companyid %>">
                                    <button type="submit" class="btn btn-success">Accept</button>
                                </form>
                            </td>
                            <td>
                                <form id="from_reject" method="post" action="/reject_job">
                                    <input type="hidden" name="jobappid" value="<%= jobapps[i]._id %>">
                                    <input type="hidden" name="companyid" value="<%= jobapps[0].companyid %>">
                                    <button type="submit" class="btn btn-danger">
                                        <span class='glyphicon glyphicon-trash'></span> Reject
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </table>
                <% } else { %>
                    <div class='container'>
                        <div class='alert alert-warning alert-dismissible' role='alert'>
                            <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span
                                    aria-hidden='true'>&times;</span></button>
                            <p style='font-size: 20px'><strong>Note:</strong> No Jobs Posted or No Applicant applied yet!</p>
                        </div>
                        <% } %>
                    </div>
                    <form method="post" action="/profile">
                        <% console.log('companyid: ',companyid) %> 
                        <input type="hidden" name="companyid" value="<%= companyid %>">
                        <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back to
                            Profile</button>
                    </form>
        </div>
    </div>
        
</body>
<link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
<link href="../css/main.css" rel="stylesheet">
<link href="../css/employer.css" rel="stylesheet">
<script src="../js/jquery-1.12.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</html>